<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="flashCon">
                <div class="flash {{ category }}">{{ message }}</div>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

<body class="logbody">


    <div class="bg">
        <h1 class="logtitle">Login</h1>
        <form class="logform" action="{{ url_for('login') }}" method="post">
            <input class="input email" type="text" name="username" placeholder="Username" required>
            <input class="input password" type="password" name="password" placeholder="Password" minlength="8" maxlength="20" required>
            <input type="submit" value="Log in" class="submit">
            <span class="noacc">
                No Account?
                <a class="signup" href="{{ url_for('signup') }}"> Create Account</a>
            </span>
        </form>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>