<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body class="logbody">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="flashCon">
                <div class="flash {{ category }}">{{ message }}</div>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="bg">
        <h1 class="logtitle">Sign Up</h1>
        <form class="logform" action="{{ url_for('signup') }}" method="post">
            <input class="input username" type="text" name="username" placeholder="Username" minlength="8" maxlength="24" required>
            <input class="input password" type="password" name="password" placeholder="Password" minlength="8" maxlength="24" required>
            <input type="submit" value="Sign Up" class="submit">
            <span class="noacc">
                Got An Account?
                <a class="signup" href="{{ url_for('login') }}"> Log In</a>
            </span>
        </form>

    </div>
</body>
</html>