<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookmarks</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav class="navbar">
        <a class="navitem home">Home</a>
        <a class="navitem tm">Task Manager</a>
        <a class="navitem notes">Notes</a>
        <a class="navitem bookmarks">Bookmarks</a>
        <div class="logCon">
            {% if current_user.is_authenticated %}
                <button class="logout btn">Logout</button>
            {% else %}
                <button class='log btn'>Login</button>
                <button class="sign btn">Sign up</button>
            {% endif %}
        </div>
    </nav>

    <div class="btnCon">
        <button class="submit newnote">New Bookmark</button>
    </div>
    <div class="notesCon">
        <div class="notesdisplay bmdisplay" {% if not newbm %} style="display: flex; align-items: center; justify-content: center;" {% endif %}>
            {% if newbm %}
            <div class="allbm">
                {% for bm in newbm %}
                <div class="notebg bmmbg" onclick="window.location.href = '{{ bm.blink }}'">
                    <h1 class="bmTitle">{{ bm.btitle }}</h1>
                    <div class="notetrashCon">
                </div>
                <div class="notetrashCon">
                    <form action="{{ url_for('deletebm', bm_id = bm.bid )}}" method="post" class="deleteform">
                        <img src="../../static/icons8-trash-64.png" alt="delete" class="img notetrash">
                    </form>
                    <form action="{{ url_for('editbm', bm_id=bm.bid) }}" class="editform">
                        <img src="../../static/icons8-edit-pencil-50.png" alt="edit" class="img notedit">
                    </form>
                </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <div class="emptyCon">
                <h1 class="nonotes">No Bookmarks Available</h1>
            </div>
            {% endif %}
        </div>
    </div>



<script>
    
    document.addEventListener('DOMContentLoaded', () => {
    const log = document.querySelector('.log');
    const sign = document.querySelector('.sign');
    const home = document.querySelector('.home');
    const tm = document.querySelector('.tm');
    const notes = document.querySelector('.notes');
    const bm = document.querySelector('.bookmarks');
    const logout = document.querySelector('.logout');
    const display = document.querySelector('.notesdisplay');
    const newnote = document.querySelector('.newnote');
    const deleteform = document.querySelector('.deleteform');
    const editform = document.querySelector('.editform');

    if (editform) {
        editform.addEventListener('click', ()=> {
            editform.submit()
        })
    }

    if (deleteform) {
        deleteform.addEventListener('click', ()=> {
            deleteform.submit()
        });
    }



    if (newnote) {
        newnote.addEventListener('click', ()=> {
            window.location.href = '{{ url_for("addbm") }}';
        })
    }

    if (log) {
        log.addEventListener('click', () => {
            window.location.href = "{{ url_for('login') }}";
        });
    }

    if (sign) {
        sign.addEventListener('click', () => {
            window.location.href = "{{ url_for('signup') }}";
        });
    }

    if (home) {
        home.addEventListener('click', () => {
            window.location.href = "{{ url_for('main') }}";
        });
    }

    if (tm) {
        tm.addEventListener('click', () => {
            window.location.href = "{{ url_for('tasks') }}";
        });
    }

    if (notes) {
        notes.addEventListener('click', () => {
            window.location.href = "{{ url_for('notes') }}";
        });
    }

    if (bm) {
        bm.addEventListener('click', () => {
            window.location.href = "{{ url_for('bookmarks') }}";
        });
    }

    if (logout) {
        logout.addEventListener('click', () => {
            console.log('working');
            window.location.href = "{{ url_for('logout') }}";
        });
    }
});
</script>
</body>
</html>