
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body style="overflow: hidden">
    <nav class="navbar">
        <a class="navitem home">Home</a>
        <a class="navitem tm">Task Manager</a>
        <a class="navitem notes">Notes</a>
        <a class="navitem bookmarks">Bookmarks</a>
        <div class="logCon">
            {% if current_user.is_authenticated %}
                <button class="logout btn">Logout</button>
            {% else %}
                <button class='log btn'>Login</button>
                <button class="sign btn">Sign up</button>
            {% endif %}
        </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flash-container">
        {% for category, message in messages %}
            <div class="flash {{ category }}">
            {{ message }}
            </div>
        {% endfor %}
        </div>
    {% endif %}
    {% endwith %}


    <div class="titleCon">
        <h1 class="title">FlowBoard</h1><br>
    </div>

    <div class="container">
        <img src="../static/images.jpg" alt="declutter" class="declutter">
    </div>
    <div class="cont">
        <div class="txtCon">
            <p class="desc">
                Declutter your life with this these tools that will help you organize everything in your life, 
                from tasks you need to do, to notes you need to take, 
                or even websites you need to bookmark, FlowBoard has all of that for you in a single website.
            </p>
        </div>
    </div>

    <script>

document.addEventListener('DOMContentLoaded', () => {
    const log = document.querySelector('.log');
    const sign = document.querySelector('.sign');
    const home = document.querySelector('.home');
    const tm = document.querySelector('.tm');
    const notes = document.querySelector('.notes');
    const bm = document.querySelector('.bookmarks');
    const logout = document.querySelector('.logout');

    if (log) {
        log.addEventListener('click', () => {
            window.location.href = "{{ url_for('login') }}";
        });
    }

    if (sign) {
        sign.addEventListener('click', () => {
            window.location.href = "{{ url_for('signup') }}";
        });
    }

    if (home) {
        home.addEventListener('click', () => {
            window.location.href = "{{ url_for('main') }}";
        });
    }

    if (tm) {
        tm.addEventListener('click', () => {
            window.location.href = "{{ url_for('tasks') }}";
        });
    }

    if (notes) {
        notes.addEventListener('click', () => {
            window.location.href = "{{ url_for('notes') }}";
        });
    }

    if (bm) {
        bm.addEventListener('click', () => {
            window.location.href = "{{ url_for('bookmarks') }}";
        });
    }

    if (logout) {
        logout.addEventListener('click', () => {
            console.log('working');
            window.location.href = "{{ url_for('logout') }}";
        });
    }
});

    </script>
</body>
</html>