<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="logbody">
    <div class="navCon">
        <nav class="navbar">
            <a class="navitem home">Home</a>
            <a class="navitem tm">Task Manager</a>
            <a class="navitem notes">Notes</a>
            <a class="navitem bookmarks">Bookmarks</a>
            <div class="logCon">
                {% if current_user.is_authenticated %}
                    <button class="logout btn">Logout</button>
                {% else %}
                    <button class='log btn'>Login</button>
                    <button class="sign btn">Sign up</button>
                {% endif %}
            </div>
        </nav>
    </div>

    <div class="bg tbg">
        <h1 class="logtitle ttitle">Add Task</h1>

        <form class="logform taskform" action="{{ url_for('addtask') }}" method="post">
            <input class="input task" type="text" name="task" placeholder="Enter Task" required>
            <input type="submit" value="Add Task" class="submit subtask">
        </form>


        <div class="addCon">
            <a class='signup addt' href="{{ url_for('tasks') }}">View Tasks</a>
        </div>
    </div>



<script>
    document.addEventListener('DOMContentLoaded', () => {
    const log = document.querySelector('.log');
    const sign = document.querySelector('.sign');
    const home = document.querySelector('.home');
    const tm = document.querySelector('.tm');
    const notes = document.querySelector('.notes');
    const bm = document.querySelector('.bookmarks');
    const logout = document.querySelector('.logout');

    if (log) {
        log.addEventListener('click', () => {
            window.location.href = "{{ url_for('login') }}";
        });
    }

    if (sign) {
        sign.addEventListener('click', () => {
            window.location.href = "{{ url_for('signup') }}";
        });
    }

    if (home) {
        home.addEventListener('click', () => {
            window.location.href = "{{ url_for('main') }}";
        });
    }

    if (tm) {
        tm.addEventListener('click', () => {
            window.location.href = "{{ url_for('tasks') }}";
        });
    }

    if (notes) {
        notes.addEventListener('click', () => {
            window.location.href = "{{ url_for('notes') }}";
        });
    }

    if (bm) {
        bm.addEventListener('click', () => {
            window.location.href = "{{ url_for('bookmarks') }}";
        });
    }

    if (logout) {
        logout.addEventListener('click', () => {
            console.log('working');
            window.location.href = "{{ url_for('logout') }}";
        });
    }
});
</script>
</body>
</html>